* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px; 
}

main {
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

main nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

main nav a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    padding-bottom: 30px;
}

main nav a:hover {
    color: red;
    font-size:24px;
    font-weight: 700;
}

main nav ul li {
    display: inline;
}

.invite-button {
    width: 12em;
    height: 3em;
    border: 0;
    cursor:pointer;
    background-color:#31d35c;
    color:white;
    border-radius: 2em;
}

.container {
    display: flex;
    height: 40em;
    justify-content: space-between;
    background-color:#fafafa;
}

 /* this is for mockup image */
.container .bg-intro {
    width: 57em;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: -3em -13em;
}
/* this is for mobile image */
.container .bg-intro .mockups {
    width: 50em;
    height: 56em;
    background-image: url(./images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 8.5em -8em;
    background-size: cover;
}

.container .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8em;
    width: 40em;
}

.container .main-content .heading-main {
    font-size: 3.75em;
    font-weight: 300;
    color: #2d314d;
}

.container .main-content .content {
    color:  #9698a6;
    font-size: 25px;
    margin: 40px 0;
}

.why-container {
    background-color:#f3f4f6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6em 8em;
}

.why-container .why {
    width: 37em;
    margin-bottom: 4em;
}

.why-container .why-heading {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #2d314d;
}

.why-container .why-heading-discription {
    color: #9698a6;
    line-height: 2em;
}

.why-container .features {
    display: flex;
    column-gap: 1em;
    width: 95%;
}

.why-container .features .features-heading {
    margin: 1.5em 0;
    font-size: larger;
    color: #2d314d;
}

.why-container .features .features-discription {
    color: #9698a6;
}

.articles-contaner {
    padding: 6em 8em;
    background-color: white;
}

.articles-contaner .articles-heading {
    font-size: 2.5em;
    color:#9698a6;
}

.articles-contaner .articles {
    margin-top: 4em;
    display: flex;
    column-gap: 2em;
}

.articles-contaner .articles .article-holder {
    background-color: white;
}

.articles-contaner .articles .article-holder img {
    width: 100%;
    height: 14em;
}

.articles-contaner .articles .article-holder div {
    padding: 2em;
}

.articles-contaner .articles .article-holder .article-by {
    color: #9698a6;
    font-size: small;
}

.articles-contaner .articles .article-holder .article-about {
    margin: 1em 0;
    cursor: pointer;
    color: #2d314d;
}

.articles-contaner .articles .article-holder .article-about:hover {
    color: rgb(85, 202, 231);
}

.articles-contaner .articles .article-holder .article-discription {
    color: #9698a6;
    font-size: smaller;
}

footer {
    background-color: #2d314d;
    padding: 3em 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-left {
    display: flex;
    justify-content: space-between;
    column-gap: 10em;
}

footer .footer-left .logo-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-left .logo-section svg .path {
    fill: rgb(247, 244, 244);
}

footer .footer-left .logo-section .icons {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

footer .footer-left .logo-section .icons svg:hover path {
    fill: red;
    cursor: pointer;
}

footer .footer-left .about, footer .footer-left .support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1em;
}

footer .footer-left .about a, footer .footer-left .support a {
    text-decoration: none;
    color: white;
    font-size: smaller;
}

footer .footer-left .about a:hover, footer .footer-left .support a:hover {
    color: red;
    cursor: pointer;
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 2em;
}

footer .footer-right .copyright {
    color: hsl(233, 8%, 62%);
    font-size: medium;
}

.mobile-mode {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100px;
    background-color: white;
    padding: 10px;
    left: 5%;
    right: 5%;
    height: calc(100vh - 50ph);
    width: 85%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu li {
    margin-bottom: 15px;
    padding-top: 10px;
}

@media (max-width: 1380px){
    * {
        overflow-x: hidden;
    }

    .desktop-mode{
        display: none;
    }

    .mobile-mode {
        display: block;
    }

    .container {
        flex-direction: column;
        height: 100%;
    }

    .bg-intro-mobile {
        width: 100%;
        background-image: url(./images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100vw;
        background-position: 0 -0;
        margin-bottom: -5em;
    }

    .container img {
        width: 100%;
        object-position: 0 -7em;
    }

    .container .main-content {
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .container .main-content .heading-main{
        padding: 0 .5em;
        font-size: 7vw;
        text-align: center;
    }

    .container .main-content .content {
        padding: 0 1em;
        font-size: larger;
        line-height: 1.5em;
        text-align: center;
    }

    .container button {
        margin-bottom: 6em;
    }

    .why-container {
        align-items: center;
        padding: 5em 0;
        text-align: center;
    }

    .why-container .why-heading {
        align-self: center;
        font-size: 2em;
        margin: auto;
    }

    .why-container .why-heading-discription {
        font-size: large;
        line-height: 1.5em;
        margin: 2em auto;
        margin-bottom: 0;
    }

    .why-container .features {
        flex-direction: column;
        row-gap: 2.5em;
    }

    .articles-contaner {
        padding: 6em 0;
        text-align: center;
    }

    .articles-contaner .articles-heading {
        font-size: 3em;
    }

    .articles-contaner .articles {
        flex-direction: column;
        padding: 0 2em;
        row-gap: 2.5em;
    }

    .articles-contaner .articles .article-holder {
        text-align: left;
    }
    .articles-contaner .articles .article-holder img {
        height: 45vw;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 1.5em;
    }

    footer .footer-left {
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
        margin-bottom: .5em;
    }

    
    footer .footer-left .logo-section {
        margin-bottom: 1em;
        row-gap: 2em;
    }
    
    footer .footer-left .logo-section svg {
        margin: auto;
    }

    footer .footer-left .about {
        row-gap: 1em;
        margin: -1em;
    }

    footer .footer-left .support {
        row-gap: 1em;
    }

    footer .footer-right {
        align-items: center;
        width: 20em;
    }

    .mobile-menu a{
        text-decoration: none;
        color: hsl(233, 26%, 24%);
    }

}

@media (max-width: 700px) {
    .why-heading-discription, .why-heading {
        width: 95vw;
    }
}